body {
  background-color: #fffeea;
  color: #34495e;
}
.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}
.content {
  padding-top: 100px;
}
.header h1 {
  text-align: center;
}
.main-text {
  padding-top: 60px;
  clear: both;
}
.column {
  display: inline-block;
  float: left;
  width: 33.3333333333333%;
}
.image img {
  width: 100%;
}
.skills {
  background-color: #5ad4c2;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#skill-list {
  margin-left: 50px;
}
/*Typography*/
h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}
p,
li {
  font-family: Georgia, Garamond, Lucida Bright, serif;
}
.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  -webkit-margin-before: 0;
}
.skills h3 {
  text-align: center;
  text-transform: uppercase;
}
/*nav*/
.left {
  float: left;
}
.right {
  float: right;
}
nav {
  position: fixed;
  width: 100% !important;
  top: 0;
  left: 0;
}

nav a {
  transition: 600ms;
  -webkit-transition: color 600ms;
  text-decoration: none;
}

nav a:hover {
  color: #ff0;
  text-decoration: none;
}
