
.container {
  margin: 0 auto;
  width: 80%;
}
.header h1 {
  text-align: center;
}
.main-text {
  padding-top: 60px;
  clear: both;
}
.column {
  display: inline-block;
  float: left;
  width: 33.3333333333333%;
}
.image img {
  width: 100%;
}
